{% extends 'base.html' %}
{% block content %}
<a class="home-button" href="/">Home</a>
<form class="city-form" action="/countries/{{country.id}}" method ="POST">
    <label for="name">Name :</label>
    <input type="text" id ="name" name="name" value="{{country.name}}" required autofocus>

    <label for="continent">Continent:</label>
    <input type="text" id="continent" name="continent" value={{country.continent}} required">

    
    </select>
    
   
    <button type="submit">Update Country</button>
</form>



{% endblock %}