{% extends 'base.html' %}
{% block content %}

<form class="city-form" action="/countries/{{country.id}}" method ="POST">
    <label for="name">Name :</label>
    <input type="text" id ="name" name="name" value="{{country.name}}" required autofocus>

    <label for="continent">Continent:</label>
    <input type="text" id="continent" name="continent" value={{country.continent}} required">

    
    </select>
    
   
    <button class="city-button" type="submit">Update</button>
</form>



{% endblock %}