{% extends 'base.html' %}
{% block content %}
    

<h1>My Bucket List</h1>

<a class= "city-form" href="bucketlist/new"></a>Add Destination</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<br>
{% for country in countries %}
    {{country.name}}
    <form action="/bucketlist/new/{{country.id}}">
    <button class="submit-button" type="submit">Add</button>
    </form>
{% endfor %}

<table class="city-display-table">
    <th>Your Bucket List Destinations</th>
    {% for bucket in bucketlist %}
    <tr>
        <td>
            <form class="city-form" action="/bucketlist/{{bucket.id}}/delete" method="POST">
                <button class="delete-button">Delete</button>
            </form>
                
        {{bucket.country.name}} , <a class="city-link" href="/bucketlist/{{bucket.id}}">{{bucket.city.name}}</a> {% if bucket.visited or bucket.city.visited== True %}
        &#9989
        {% else %}
        &#10060
        {% endif %}
         
       </td>
    </tr>
    {% endfor %}  
</table> 
   
    

<hr>
{% endblock %}