{% extends 'base.html' %}
{% block content %}
    

<h1>My Bucket List</h1>
<a class="home-button" href="/">Home</a>
<a class= "city-form" href="bucketlist/new">Add Destination</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<br>
{% for country in countries %}
    {{country.name}}
    <form action="/bucketlist/new/{{country.id}}">
    <button class="submit-button" type="submit">Add</button>
    </form>
{% endfor %}

<table class="city-display-table">
    <th>Your Bucket List Destinations</th>
    {% for bucket in bucketlist %}
    <tr>
        <td><form class="city-form" action="/bucketlist/delete/{{bucketlist.id}}">
        <button class="delete-button">Delete</button>
            </form>
   
      {{bucket.country.name}} , {{bucket.city.name}} {% if bucket.visited == True %}
    &#9989
    {% else %}
    &#10060
    {% endif %}
        
    <form class="submit-form"action="/bucketlist/edit/{{bucketlist.id}}"></form>
    <button class="submit-button">Edit</button>
       </td>
    </tr>  
</table> 
   
    
{% endfor %}
<hr>
{% endblock %}