{% extends 'base.html' %}
{% block content %}
    

<h1>My Bucket List</h1>
<a class="home-button" href="/">Home</a>
<a class= "city-form" href="bucketlist/new">Add Destination</a>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<br>
{% for country in countries %}
    {{country.name}}
    <form action="/bucketlist/new/{{country.id}}">
    <button class="submit-button" type="submit">Add</button>
    </form>
{% endfor %}

{% for bucket in bucketlist %}
    {{bucketlist.city.name}}
    {{bucketlist.country.name}}
{% endfor %}
<hr>
{% endblock %}