{% extends 'base.html' %}
{% block content %}
    

<h1> My Bucket List </h1>
<a class="home-button" href="/">Home</a>
<form action="/bucketlist" methods="POST">
    <label for="city">City</label>
        <select name="city" id="city">
        {% for city in cities %}
        {% if country.id == city.country.id  %} 
        <option value="{{city.id}}">
            {{city.name}}
        </option>
        {% endif %}
        {% endfor %}
        </select>
    
    <button type="submit">Add Destination</button>
</form>


    
{% endblock %}