{% extends 'base.html' %}
{% block content %}
    

<h1> My Bucket List </h1>
<a class="home-button" href="/">Home</a>
<form class="city-form" action="/bucketlist" method="POST">
    <label for="city">City</label>
        <select name="city_id" id="city">
        {% for city in cities %}
            {% if city.country.id == country.id %}
                <option value={{city.id}}>
                    {{city.name}}
                </option>
            {% endif %}
        {% endfor %}
        </select>
    <input type="hidden" name="country_id" value={{country.id}}>
    <input type="hidden" name="visited" value="False">
    <button class="submit-button" type="submit">Add</button>
</form>


    
{% endblock %}