{% extends 'base.html' %}
{% block content %}
<a href="/">Home</a>
<form action="/cities/{{city.id}}" method ="POST">
    <label for="name">Name :</label>
    <input type="text" id ="name" name="name" value="{{city.name}}" required autofocus>

    <label for="visited">Visited:</label>
    <select name="visited" id="visited">
        <option value="False" 
        {% if city.visited == False %} selected="selected" {% endif %}>
            No
        </option>
        <option value="True"
        {% if city.visited == True %} selected="selected" {% endif %}>
        Yes
    </option>
    </select>
    
    <label for="country">Country</label>
    <select name="country_id" id="country">
        {% for country in countries %}
         <option value=" {{country.id}}">
         {{country.name}}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Update City</button>
</form>

{% endblock %}