{% extends 'base.html' %}
{% block content %}
<h1>
    Cities
</h1>
<a class="home-button" href="/">Home</a>

    
<table class="city-display-table">
    <th>Names</th>
    {% for city in cities  %}
    <tr>
        <td><form class="city-form" action ="/cities/{{city.id}}/delete" method="POST">
            <button class ="delete-button">Delete</button>
        </form>
            <a class="city-link" href="/cities/{{city.id}}"> {{city.name}} </a> in {{city.country.name}}. Have I visited? {% if city.visited == True %}
                Yes 
                    <!-- <br> <textarea name="city_review" id="city_review" cols="30" rows="10"></textarea> -->
              {% else %}
                No
              {% endif %}
        </td>
    </tr>
    {% endfor %}
    
</table>

<a class="city-button" href="/cities/new">Add New City</a>

{% endblock %}