{% extends 'base.html' %}
{% block content  %}
<h1>Add City</h1>
<a href="/">Home</a> 
<form action="/cities" methods="post">
    <label for="name">Name:</label>
    <input type="text" id ="name" placeholder="Name" required>
    
    <label for="country">Country:</label>
        <select name="country" id="country">
            {% for country in all_countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}    
        </select>
    
    <label for="visited">Visited:</label>
    <select name="visited" id="visited">
        <option value="false">No</option>
        <option value="true">Yes</option>
        
    </select>
    <button type="submit">Add</button>
    

</form>

{% endblock %}