body {
    font-family: 'Roboto Condensed', sans-serif;
    display:grid;
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-color: #9ecef0;
    color: whitesmoke;
    text-decoration: none;
}
body > section {
    display: flex;
    justify-content: center;
    vertical-align: center;
}

body > a {
    display:flex;
    color: whitesmoke;
    text-decoration: none;
}

body > h1 {
    display: flex;
    justify-content: center;
    color: white;
}

body > h2 {
    display: flex;
    justify-content: center;

}
body > header {
    display: grid;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

body > h1 {
    color:#1175bd;
}
body > header > ul > li {
    display: inline-block;
}

body > header > ul > li > a {
    color: white;
    text-decoration: none;
}
    footer {
        display: grid;
        justify-content: center;
        background-color: cornflowerblue;
        list-style-type: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem; 
        
        
    }
        ul > li {
            display: inline-block;
        }
            ul > li > a {
                color: white;
                text-decoration: none;
            
            }

.city-display-table {
    display: grid;
    justify-content: center;
}

.country-button{

    display:grid;
    justify-content: center;
    padding: 24px;
}

.country-button:hover{
    color: #f0cb9e;
}

.header-link:hover{
    color:#9ef0b0;
}

.footer-link:hover{
    color:#9ef0b0;
}

.index-background-image {
    width: 250px;
}

.countries-table {
    display:flex;
    justify-content: center;

}

body > p {
    display: flex;
    justify-content: center;
}

.city-form {
    display:flex;
    justify-content: center;
}

.city-button {
    display:flex;
    align-items:center;
    justify-self: center;
    padding: 18px;
    width: 70px;
    height: 20px;
    background-color: #124f7a;
    color : whitesmoke;
    text-align: right;
    text-decoration: none;
}

.city-button:hover {
    color: #f0cb9e;
}

.delete-button {
    display: flex;
    cursor: pointer;
    width:52px;
    height: 24px;
    padding: 10px;
    margin: 16px;
    border: 0;
    background-color:#124f7a;
    color: whitesmoke;
    justify-content: center;
    vertical-align: middle;

}

.delete-button:hover {
    background-color: peachpuff;
}

.city-link {
    color: #345ac2;
    text-decoration: none;
}

.city-link:hover{
    color:  #f0cb9e;
}


.home-button:hover{
    color: #f0cb9e;
}


.country-link {
    color: #345ac2;
    text-decoration: none;
}

.country-link:hover{
    color:  #f0cb9e;
}

body > table > {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color:#124f7a;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;   
}

.submit-button:hover {
    color:#f0cb9e;
}