<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Pure Bliss</title>
</head>
<body>
    <header>
    <ul>
        <li>
            <a class="header-link" href="/countries">Countries</a>
        </li>
        <li>
            <a class="header-link" href="/cities">Cities</a>
        </li>
        <li>
            <a class="header-link" href="/bucketlist">My Travel Bucket List</a>
        </li>
    </ul>  
    
    </header>
    {% block content %}
        
    {% endblock %}

    <footer>
        <ul>
            <li><a class="footer-link" href="/about">About</a></li>
            <li><a class="footer-link" href="/contact">Contact</a></li>
        </ul>
    </footer>
</body>
</html>