{% extends 'base.html' %}

{% block content %}


<section>
    <img src=url'(https://en.wikipedia.org/wiki/Red_panda#/media/File:RedPandaFullBody.JPG)' alt="xD">
    Welcome to Pure Bliss, the quintessential travel bucketlist companion app!<br>

    We have pre-populated several countries and cities for you. <br>
    However, if you would like to add a city/country that does not exist on the app : <br>
    Please follow the appropriate headings of 'countries' or 'cities' where you can add any country you desire <br>
    (so long as it's on planet earth!)


</section>




{% endblock  %}

