{% extends 'base.html' %}

{% block content %}
<center>
<img class="index-image"src="https://placebear.com/g/200/300" alt="Happy Bear  ">
</center>
<section>
    <!-- <img src="https://en.wikipedia.org/wiki/Red_panda#/media/File:RedPandaFullBody.JPG" alt="xD"> -->
    Welcome to Pure Bliss, the quintessential travel bucketlist companion app!<br>

    We have pre-populated several countries and cities for you. <br>
    However, if you would like to add a city/country that does not exist on the app : <br>
    Please follow the appropriate headings of 'countries' or 'cities' where you can add any country you desire <br>
    (so long as it's on planet earth!)


</section>
<form action="/countries/new"></form>
<a class="city-button" href="/countries/new"">Add Country</a>
<form action="/cities/new"></form>
<a class="city-button" href="/cities/new">Add City</a>



{% endblock  %}

